In [11]:
#Q1. Create one variable containing following type of data:
#(i)	string
a = "bushra"
print(type(a))

#(ii)	list
b =[1,17.07,True,"bushra"]
print(type(b))

#(iii)	float
c = 17.09
print(type(c))

#(iv)	tuple
d = ("Cherry","Pineapple","kiwi")
print(type(d))

<class 'str'>
<class 'list'>
<class 'float'>
<class 'tuple'>

In [ ]:
Q2. Given are some following variables containing data:
What will be the data type of the above given variable.

(i)	var1 = ‘ ‘
str

(ii)	var2 = ‘[ DS , ML , Python]’
str

(iii)	var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]
list

(iv)	var4 = 1.
float

In [13]:
#Q3. Explain the use of the following operators using an example:

#(i)	/
#It is a division operator that is used to divide the numerical value and gives quotient as output.
a = 6
b = 3
print(a/b) 



#(ii)	% 
#It is a modulous division that gives remainder as output.
x = 6
y = 4

print(x % y)

#(iii)	//
#It is a floor division that gives quotient as output in integeric value.
x = 6
y = 4

print(x // y)

#(iv)**
#It is exponential operator.
x = 6
y = 4

print(x ** y)

2.0
2
1
1296

In [10]:
#Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the 
#element and its data type

my_list = [1,"PWSkills","Data Science Masters",2.0,True,1.5j,False,"Bushra",2,[1,2,"list_under_list"]]
my_list = [1,"PWSkills","Data Science Masters",2.0,True,1.5j,False,"Bushra",2,[1,2,"list_under_list"]]
for i in my_list:
    print(i)
    print(type(i))

1
<class 'int'>
PWSkills
<class 'str'>
Data Science Masters
<class 'str'>
2.0
<class 'float'>
True
<class 'bool'>
1.5j
<class 'complex'>
False
<class 'bool'>
Bushra
<class 'str'>
2
<class 'int'>
[1, 2, 'list_under_list']
<class 'list'>

In [16]:
#Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many 
#times it can be divisible.
a=int(input())
b=int(input())

while a % b == 0:
    print('a is divisible by b', 'and a is divisible by b for',a/b, 'times')
    break
else:
    print('a is not divisible by b')

 50
 5

a is divisible by b and a is divisible by b for 10.0 times

In [14]:
#Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is 
#divisible by 3 or not.

num_list = [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25]
for i in num_list:
    if i % 3 ==0:
        print(i,"is divisible by 3" )
    else:
        print(i, "is not divisible by 3")

1 is not divisible by 3
2 is not divisible by 3
3 is divisible by 3
4 is not divisible by 3
5 is not divisible by 3
6 is divisible by 3
7 is not divisible by 3
8 is not divisible by 3
9 is divisible by 3
10 is not divisible by 3
11 is not divisible by 3
12 is divisible by 3
13 is not divisible by 3
14 is not divisible by 3
15 is divisible by 3
16 is not divisible by 3
17 is not divisible by 3
18 is divisible by 3
19 is not divisible by 3
20 is not divisible by 3
21 is divisible by 3
22 is not divisible by 3
23 is not divisible by 3
24 is divisible by 3
25 is not divisible by 3

In [28]:
#Q7. What do you understand about mutable and immutable data types? Give examples for both showing 
#this property.

#Mutable-Mutable means data can be modified after the code is exectued with the help of indexing,List are mutable data type.
example=["Bushra",1,2.0]
print(example)
print(type(example))

example[0]="PWskills"
print(example)


#Immutable-Immutable means data cannot be modified after the code is exectued with the help of indexing,List are mutable data type.
example1="Data Science Masters 2.0"
print(example1)
print(type(example1))


example1[0]="B"
print(example1)

['Bushra', 1, 2.0]
<class 'list'>
['PWskills', 1, 2.0]
Data Science Masters 2.0
<class 'str'>

TypeError: 'str' object does not support item assignment